/.vscode
.idea/pfpy.iml
.idea/inspectionProfiles
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/codeStyles
.idea/vcs.xml
__pycache__
projects/current/protein/output/
projects/current/flavonoid/data/