/.vscode
.idea/pfpy.iml
.idea/inspectionProfiles
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/codeStyles
.idea/vcs.xml
__pycache__
projects/current/flavonoid/data/FASTA_Data/
projects/current/flavonoid/data/Gene_Data/
projects/current/flavonoid/data/Master_Count.csv
projects/current/flavonoid/data/Master_List.csv
projects/current/flavonoid/data/ReadMe.txt
projects/current/protein/pdb-output/
projects/current/protein/sasa-output/
projects/current/protein/dr_sasa_n-0.4b/
projects/current/protein/dr_sasa_n/
/projects/current/protein/dr_sasa/
